/* splash.css */
    .usaFlag {
        background-image: url("usa80.png");
        margin-right: 50px;
    }

    .hkFlag {
        background-image: url("hk80.png");
    }

    .mexFlag {
        background-image: url("mex80.png");
        margin-right: 50px;
    }

    .cnFlag {
        background-image: url("cn80.png");
    }


html {
  height: 90vh;
}

body {
  text-align: center;
  height: 100%;
  background: url("bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.info_space {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#welcome {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 100px;
}

#hyperlink {
  color: #ff9999; 
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#enter {
  color: #000000;
  display: block;
  text-decoration: none;
  font-size: 70px;
  padding: 50px;
  width: 400px;
  height: 70px;
}

#credit_space {
  color: white;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 480px) {
  #welcome {
    font-size: 50px;
    margin-bottom: 50px;
  }

  #enter {
    font-size: 35px;
    width: 200px;
    height: 35px;
  }


  #hyperlink {
    color: #ff9999; 
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .usaFlag {
    margin-right: 0px;
  }

  .hkFlag {
    margin-top: 50px;
  }

  .mexFlag {
    margin-right: 0px;
  }

  .cnFlag {
    margin-top: 50px;
  }

}