/* splash.css */

html {
  height: 90vh;
}

body {
  text-align: center;
  height: 100%;
  background: url("runTheta.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.info_space {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hyperlink {
  color: #ff9999; 
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
}

#enter {
  color: #ff9999;
  display: block;
  text-decoration: none;
  font-size: 70px;
}

#credit_space {
  color: white;
  font-family: 'Raleway', sans-serif;
}
