/* splash.css */

html {
  height: 90vh;
}

body {
  text-align: center;
  height: 100%;
  background: url("malibu.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.info_space {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#welcome {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
  font-size: 100px;
}

#hyperlink {
  color: #ff9999; 
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#enter {
  color: #000000;
  display: block;
  text-decoration: none;
  font-size: 70px;
  padding: 50px;
}

#credit_space {
  color: white;
  font-family: 'Raleway', sans-serif;
}
